*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:
linear-gradient(135deg,#667eea,#764ba2);
}

.container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.card{
width:450px;
padding:40px;
border-radius:25px;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(15px);
box-shadow:0 8px 32px rgba(0,0,0,0.2);
text-align:center;
color:white;
}

.card h1{
margin-bottom:10px;
}

.card p{
margin-bottom:25px;
opacity:0.8;
}

input,
select{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:12px;
outline:none;
background:rgba(255,255,255,0.8);
font-size:15px;
}

button{
width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:12px;
background:#ff6b6b;
color:white;
font-size:17px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
background:#ff4757;
}
